.vs-container .vs-layer {
  margin: 0;
  width: 100%;
  height: 100vh; }

#vs-bg {
  z-index: 10;
  left: 0%; }

#vs-9th {
  z-index: 10;
  left: 0%;
  margin-top: -100vh; }

#vs-8th {
  z-index: 10;
  left: 0%;
  top: -100vh; }

#vs-7th {
  z-index: 10;
  left: 0%;
  margin-top: -200vh; }

#vs-6th {
  z-index: 10;
  left: 0%;
  top: -100vh; }

#vs-5th {
  z-index: 10;
  left: 0%;
  top: -500vh; }

#vs-4th {
  z-index: 10;
  left: 0%;
  top: -600vh; }

#vs-3rd {
  z-index: 10;
  left: 0%;
  top: -700vh; }

#vs-2nd {
  z-index: 10;
  left: 0%;
  top: -800vh; }

#vs-1-st {
  z-index: 10;
  left: 0%;
  top: -900vh; }

#vs-txt {
  z-index: 10;
  left: 0%;
  margin-top: -1000vh; }

#vs-cover {
  z-index: 11;
  left: 0%;
  background-color: wheat;
  top: 100vh;
  min-height: 100vh; }

#vs-txt h1 {
  font-family: proxima nova;
  text-transform: uppercase;
  top: 42vh;
  color: white;
  text-align: center;
  font-size: 4vw;
  font-weight: 100; }
